.fileUploadBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  height: 100%;
}

.fileUploadBtnContainer.dragOver {
  border-color: #2563eb;
  background-color: rgba(30, 72, 126, 0.07);
  box-shadow: 0 0 10px rgb(255 199 93 / 22%);
}

.instructionsText {
  font-size: 20px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px;
}

.mainBtn {
  background: linear-gradient(45deg, #3872f5, #2563eb);
  border: 2px solid #2563eb;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.mainBtn:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.label {
  display: flex;
  align-items: center;
  gap: 10px;
}
